#calculator{
    border:2px solid rgb(128, 128, 128);
    border-radius:20px;
    text-align: center;
    width: 250px;
}
.button{
    margin:5px;
    width: 40px;
    height: 40px;

}

#display{
    margin:10px;
    padding:0px;
    
}

.button-container{
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    
}

#calculator{
    padding:10px;
}
